body{
  height: 200vh;
}

.btn {
  background: #86bd25;
  border: none;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  padding: 12px 13px;
  border-radius: 4px;
  transition: all 0.6s;
  margin-top: 10px;
}

.btn:hover {
  background: #a2ce57;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  transform: scale(0.99);
}
